@page
@model SmartBeauty.Pages.Salons.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Salon</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salon.SalonName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salon.SalonName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Salon.Staffs)
        </dt>

    <dd>
        <table class="table">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            @foreach (var item in Model.Salon.Staffs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstMidName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                </tr>
            }
        </table>
    </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Salon.SalonID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
